*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    background-color: rgb(235, 234, 234);
}
.navbar{
    background-color: #0F1111;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 114px;
  
}
.logo{
    background-image:url("./images/Amazon_logo.jpg") ;
    background-size: cover;
    height: 50px;
    width: 111px;
    cursor: pointer;
    
}
.border{
    border: 1.5px solid transparent;
    
}
.border:hover{
    border : 1.5px solid white
}

/** Address **/
.nav-address{
    cursor: pointer;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
}

.nowrap{
    white-space: nowrap;
}

/** Nav-search**/
.nav-search{
    display: flex;
    width:730px;
    height: 40px;
    border-radius: 4px;
    background-color: aqua;
}

.nav-search:hover{
    border: 3px solid rgb(255, 204, 0) ;
}

.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
    outline: none;
}

.search-icon{
    color: black;
    background-color: rgb(255, 204, 0);
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

/** Sign in **/
.nav-return{
cursor: pointer;
}
.nav-signin{
cursor: pointer;
}
span{
    font-size: 0.7rem ;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Nav cart **/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    cursor: pointer;
}

/** Panel**/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline ;
    padding: 7px;
    cursor: pointer;
}
.panel-all{
    padding: 7px;
    cursor: pointer;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    padding: 7px;
}

/** Hero Section **/
.hero-section{
    background-image: url("./images/bg.jpg"); 
    background-size: cover;
    height: 350px ; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    width: 90%;
    margin-bottom: 25px;
}
.hero-msg a{
    color:rgb(153, 153, 247);
    cursor: pointer;
} 

/** Shopping section **/
.shop-section{
    display: flex; 
     justify-content: space-evenly;
     background-image: linear-gradient(rgb(215, 116, 245)
     ,rgb(235, 234, 234));
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    margin-top: 15px;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-img{
 height: 300px;
 background-size: cover;
 margin-top: 1rem;
 margin-bottom: 1rem;
 cursor: pointer;
}
.box-content{
    margin-right: 1rem;
    margin-left: 1rem;
}
.box-content p{
    color:rgb(153, 153, 247);
    cursor: pointer;
}
.box-content p:hover{
    text-decoration: underline;
}
.box-head{
    color: #4d4e4eee;
}

.shop-section2{
    display: flex;
     justify-content: space-evenly;
    background-color: rgb(235, 234, 234);
}


/** Footer**/
.foot-panel{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top:30px;
}
.foot-panel a{
    text-decoration: none;
    color: white;
}

.foot-panel2{
     background-color: #222f3d;
     color: white;
     height: 300px;
     display: flex;
     justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.1px solid white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.foot-logo{
  background-image:url("./images/Amazon_logo.jpg");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-boxes{
    display: flex;
    gap: 10px;
}
.foot-box{
    display:flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #232F3E;
    color:#dddddd;
    cursor: pointer;
    font-size: 14px;

}


.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
    display: flex;
    gap: 20px;
   justify-content: center;
   cursor: pointer;
}

.copyright{
    padding-top: 5px;
}